*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: sans-serif;
	font-size: 14px;
	width: 100%;
	margin: 0px;

}
#container{
	width: 100%;
}
#content{
	width: 100%	;
	background: #f3f3f3;
}
#top{
	height: 60px;
	width: 100%;
	background: black;
}
.menu_top ul li a:hover{
	color: #999999;
}
.menu_top ul li{
	list-style: none;
	margin-right: 50px;
	margin-top:20px;
	text-align: right;
	float: right;
}
.menu_top ul li a{
	height: 40px;
	line-height: 20px;
	text-decoration: none;
	color: #f1f1f1	;
	font-size: 17px;
	font-family: sans-serif;
}
#banner{
	height: 130px;
	width: 100%;
	background: white;
}
#banner h1{
	line-height: 130px;
	text-align: center;
	color: orange;
	margin-left: 500px;
	font-size: 30px;
}
#banner input{
	min-height: 40px;
	width:300px;
}
#banner form button{
  width: 50px;
  min-height:40px;
  background: #2b2a2a;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
}
/* Menu */
#menu {
	padding-left: 150px;
	background:orange;
}
.menu-frame{
	margin-left: 30px;
	padding:20px;
}
.menu-frame a{
	text-decoration: none;
	color:black;
}
.menu-frame a:hover{
	color:darkslategrey;
}
/*--footer--*/
#footer{
	background: #2b2a2a;
	min-height: 330px;
	width: auto;
	padding:30px;
	margin-top: 100px;
}
.w3_footer_grid{
	margin-left: 250px;
}
.w3_footer_grid h3 {
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.w3_footer_grid ul li {
    list-style-type: none;
    margin-bottom: 1em;
    color: #afafaf;
    font-size: 14px;
}
.w3_footer_grid ul.address li i {
    color:#fe9126;
    border: 1px solid #fe9126;
	padding: 0.5em;
    margin-right: 1em;
}
.w3_footer_grid ul.address li span {
    display: block;
    margin-left: 3em;
}
a{
    color: #afafaf;
    text-decoration: none;
}
.w3_footer_grid ul li a:hover {
	color:#fe9126;
}
/*HomeProduct*/
.homeproduct{
	clear:both;
	background:#fff;
	display:flex;
	flex-flow:row wrap;
	flex-flow:row wrap;
	flex:1 100%;
	border-top:1px solid #eee;
	margin-bottom:auto;
}
.caption{
	min-height: 60px;
	background: #f3f3f3;
	text-decoration: none;
}
.caption h3{
	padding-top: 10px;
	display: inline;
	clear: both;
	line-height: 60px;
	margin-left: 10px;
	color: #ffcc00;
}
.homeproduct {
	width: 100%;
}
.product {
	width: 20%;
	text-align: center;
	margin-top: 40px;
}
.product img{
	display:block;
	width:300x;	
	height:230px;
	margin:10px;
}
.product a{
	text-decoration: none;
}
.Cty p a:hover{
	color: orange;
	text-decoration: none;
}
/*-------Login*/

.row{
 margin-top: 5%;
}
.w3_footer_grids a:hover{
	color:#fe9126;
	text-decoration: none;
}
label{
    font-family: "Homer Simpson", cursive;
    font-size:15px;
}
#col-Login{
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 500px;
  min-height: 50px;
  padding: 20px;
  margin-left:350px;
}
.title{
	padding:10px;

}
.distance {
	margin-top: 50px;
<<<<<<< HEAD
}

/* paging */
.paging-top{
	margin:30px;
	margin-right:80px
=======
>>>>>>> dd706054469a0761f4fa6f6f905460eda296502c
}